body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 1.4em;
    font-size: calc(.6vmax + .8em);
    line-height: 1.4em;
    margin: 0;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
}

a {
    transition: color .1s ease-out;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: gray;
}

h1 a {
    font-size: 1.2em;
    line-height: 1.4em;
}

pre {
    overflow: auto;
    padding: 1em;
    font-size: .8em;
    line-height: 1.4em;
}

blockquote {
    border-left: 5px solid #f2c45a;
    margin: 0;
    padding: 0 1em;
}

body > header nav, section, body > footer {
    padding: 0 calc(27% - 6em);
}

body > header {
    background-image: url('http://d394491aozrvw2.cloudfront.net/assets/img/2013/backgrounds/server-guy.jpg');
    background-size: cover;
    background-color: #333;
    background-color: #70b;
    background-color: #0a4;
    background-color: #27f;
    color: white;
    padding-bottom: 10em;
}

body > header h1 {
    font-weight: 300;
    text-shadow: 0 0 5px black;
    padding: 3em 0;
}

body > footer {
    background-color: #70b;
    background-color: #0a4;
    background-color: #27f;
    background-color: #333;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
}

section:nth-child(even) {
    background-color: #333;
    background-color: #70b;
    background-color: #0a4;
    background-color: #27f;
    color: white;
}

body > header nav {
    background-color: #70b;
    background-color: #0a4;
    background-color: #27f;
    background-color: #333;
}

nav ul {
    padding: 1em 0;
    margin: 0;
}

nav li {
    display: inline-block;
    width: 20%;
    min-width: 6em;
}

.left {
    float: left;
}
.right {
    float: right;
}
