<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      {% unless site.style.headline %}<h1><a href="{{ site.baseurl }}/">{{ page.heading }}</a></h1>{% endunless %}
      <nav>
        <ul>
          {% for node in site.pages %}{% if node.title and node.categories contains page.langcode %}<li><a href="#{{ node.title }}">{{ node.title }}</a></li>{% endif %}{% endfor %}
        </ul>
      </nav>
    </header>
    {% if site.style.headline %}<div><header><h1>{{ page.heading }}</h1></header></div>{% endif %}
    {% if page.subheading %}<div>{{ page.subheading }}</div>{% endif %}
{{ content }}
    {% assign pages = site.pages | where:"categories", page.langcode %}
    {% for node in pages %}
    {% if forloop.last %}
    <footer>
{{ node.content }}
    </footer>
    {% else %}
    <article id="{{ node.title }}">
{% if node.title and node.heading %}
  <header><h2><a href="#{{ node.title }}">{{ node.heading }}</a></h2><br></header>
{% endif %}
      <div>
{{ node.content }}
      </div>
    </article>
    {% endif %}
    {% endfor %}
  </body>
</html>
