<!DOCTYPE html>
<html lang="{{ page.langcode }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "basic.css" | prepend: site.baseurl }}">
    <link href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ page.langcode | prepend: site.baseurl }}">Home</a></li>{% for node in site.pages %}{% if node.title and node.categories contains page.langcode %}<li><a href="#{{ node.title }}">{{ node.title }}</a></li>{% endif %}{% endfor %}
        </ul>
      </nav>
    </header>
    <section><h1>{{ page.heading }}</h1></section>
    {% for node in site.pages %}
    {% if node.categories contains page.langcode %}
    <section id="{{ node.title }}">
      {% if node.title and node.heading %}<h2><a href="#{{ node.title }}">{{ node.heading }}</a></h2>{% endif %}
      <div class="pure-g">
{{ node.content }}
      </div>
    </section>
    {% endif %}
    {% endfor %}
  </body>
</html>
