<!DOCTYPE html>
<html lang="{{ page.langcode }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link href="{{ "main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ page.langcode | prepend: site.baseurl }}">Home</a></li>{% for node in site.pages %}{% if node.title and node.categories contains page.langcode %}<li><a href="#{{ node.title }}">{{ node.title }}</a></li>{% endif %}{% endfor %}
        </ul>
      </nav>
    </header>
{{ content }}
    <div id="top">
      <h1>{{ page.heading }}</h1>
    </div>
    {% assign pages = site.pages | where:"categories", page.langcode %}
    {% for node in pages %}
    {% if forloop.first %}
    <div>
{{ node.content }}
    </div>
    {% elsif forloop.last %}
    <footer>
{{ node.content }}
    </footer>
    {% else %}
    <article id="{{ node.title }}">
{% if node.title and node.heading %}
  <header><h2>{{ node.heading }}</h2></header>
{% endif %}
{{ node.content }}
    </article>
    {% endif %}
    {% endfor %}
  </body>
</html>
